In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
import sklearn as sk
data=pd.read_csv("spam.csv")
from sklearn import linear_model
data

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [2]:
lb=LabelEncoder()
data['spam']=lb.fit_transform(data['Category'])
data.head(5)

  Category                                            Message  spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0

In [3]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data['Message'],data['spam'], test_size=0.25)

In [4]:
from sklearn.feature_extraction.text import CountVectorizer
v=CountVectorizer()
X_TRN_COUNT=v.fit_transform(X_train.values)
# X_train.count.toarray()[:3]

In [5]:
from sklearn.naive_bayes import MultinomialNB
mnmodel=MultinomialNB()
mnmodel.fit(X_TRN_COUNT,y_train)

MultinomialNB()

In [6]:
mails=['Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entr']

In [7]:
mailcount=v.transform(mails)
mnmodel.predict(mailcount)

array([1])